<%- include("head")-%>



<!--Marquuee text -->

          <section>
            <div class="FTpos">
                <marquee><p class="FTstyle" >LOG-IN here  Get connected with us and get updates on all latests sports news!!</p></marquee>
            </div>
        </section>


        <!-- *********INTRO*******-->

    <div class="container" >
         <div style="margin-top: 100px;" class="Bcontent conStyle">
          <p class="ContT">INTRODUCTION:</p>
<p class="ConTIn">Department of Physical Education & Sports Science serve as a vital and integral part of the student life in campus. The mission of the department is to provide a broad spectrum of sports, recreation and leisure activities for students, staff and faculty, as well as the members of the local community. The primary direction is to provide services and programs that stimulate growth, development and retention of students in a contemporary and safe environment that develops fitness and wellness, social interaction and leadership opportunities.</p>
       </div>
    </div>

    
       <div class="dotPos">
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
       </div>


          <!--LOG-IN-->

          <section class="LGpos12 login-block">
            <div id="container1">
            <div class="row">
                <div id="LGstyle" class="col-md-4 login-sec">
                    <h2 class="text-center" style="color: white;">Login Now</h2>

        <form class="login-form" method="post" action="eventsList">
          <div class="form-group">
            <label for="exampleInputEmail1" class="text-uppercase">Student USN</label>

            <input type="text" class="form-control" placeholder="<%=usnerror%>" name="usn" value="<%=usnvalue%>" >
            
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" class="text-uppercase">Password</label>

            <input type="password" class="form-control" placeholder="<%=passworderror%>" name="password" value="<%=passwordvalue%>">
          </div>
          
          
            <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              <small>Remember Me</small>
            </label>
            <button type="submit" class="btn btn-primary btn-login float-right" style="color: white; padding-top: 0px; margin-top: 10px;">Log In</button>
          </div>
          <div class="card-footer1">
            <div style="font-size: 15px;" class="d-flex justify-content-center links">
                <!-- Don't have an account?<a href="#">Sign Up</a> -->
            </div>
            <div  style="font-size: 15px;" class="d-flex justify-content-center">
                <a href="#">Forgot your password?</a>
            </div>
        </div>
        
        </form>
    </div>

                <div class="col-md-8 banner-sec">
                    <div class="carousel slide" data-ride="carousel" data-interval="2500">
                       <div class="carousel-inner" role="listbox">

            <div class="carousel-item active">
              <img id="IMGpos" class="d-block img-fluid" src="/caimg/ca5.jpg" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
            </div>
            </div>

            <div class="carousel-item">
              <img id="IMGpos" class=" d-block img-fluid" src="/caimg/slider3.jpg" alt="second slide">
              <div class="carousel-caption d-none d-md-block">
            </div>
            </div>


            <div class="carousel-item">
                <img id="IMGpos" class=" d-block img-fluid" src="/caimg/ca6.jpg" alt="second slide">
                <div class="carousel-caption d-none d-md-block">
            </div>
            </div>

            <div class="carousel-item">
              <img id="IMGpos" class="d-block img-fluid" src="/caimg/ca1.jpg" alt="Third slide">
              <div class="carousel-caption d-none d-md-block">
            </div>
            </div>

          <div class="carousel-item">
            <img id="IMGpos" class="d-block img-fluid" src="/caimg/ca2.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
           </div>
           </div>

        <div class="carousel-item">
            <img id="IMGpos" class="d-block img-fluid" src="/caimg/ca3.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
          </div>
        </div>

        <div class="carousel-item">
            <img id="IMGpos" class="d-block img-fluid" src="/caimg/ca4.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
          </div>
        </div>

                    </div>	     
                </div>
            </div>
        </div>
        </section>
        
  <!-- /****************************************/ -->



  <!--Belowe Content-->

  
   <div class="container CNpos " >
       <div class="Bcontent conStyle">
          <p class="ContT" >VISION:</p>
<p class="ConTIn">To engage in relentless pursuit of excellence in promotion and development of Physical Education, sporting and extra-curricular activities through an innovative approach in teaching, coaching, research and outreach activities and to evolve a holistic approach to the all-round betterment of human resources through a harmonious blend of body, mind and spirit.</p>
       </div>


       <div class="dotPos">
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
       </div>

       <div class="Bcontent conStyle">
           <p class="ContT " >MISSION:</p>
<p class="ConTIn"> To design and introduce innovative, integrated, inter-disciplinary curriculum in physical education, sports, games and allied areas.
To recognize and encourage budding athletes/students with potential and further encourage them by coaching/training.
To develop and provide modern amenities in par with the Global standards in the field of sporting.
To produce dedicated and passionate sports persons, who will always display high morale and sports</p>
       </div>
   </div>

   
       <div class="dotPos ContL">
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
             <span class="dot"></span>
       </div>

 <%- include("footer")-%>